_site/*
.sass-cache/*
.asset-cache/*
staging/*
production/*
.DS_Store
.jekyll-metadata

.ruby-version

.ruby-gemset
.eslintrc.js
package-lock.json
package.json
node_modules/*
.jekyll-cache
.DS_Store
assets/.DS_Store
