//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Hind", "Segoe UI";
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

h1 {
  color: #474258;
  font-weight: 700;
  // font-family: ‘Hind’, -apple-system, BlinkMacSystemFont, “Segoe UI”;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  line-height: $body-heading-line-height;
}

h2 {
  color: #5a5ac3;
  font-size: 21px;
  letter-spacing: 0.4px;
}

h4 {
  color: #54636b;
}

h3,
h4,
h5,
h6 {
  // font-family: ‘Hind’, -apple-system, BlinkMacSystemFont, “Segoe UI”;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p {
  color: #424f56;
  // font-family: ‘Hind’, -apple-system, BlinkMacSystemFont, “Segoe UI”;
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .4px;
}

a {
  color: #6161ce;
  font-weight: 500;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-size: 1px 1px;

  }
}

code {
  font-family: $mono-font-family;
  font-size: 12px;
  line-height: $body-line-height;
}

figure {
  margin: 0;
}

li {
  color: #424f56;
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.4);
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
