//
// The basic two column layout
//

.caption
{
  width: 100%;
  text-align: center;
}

.page-wrap {
  @include mq(md) {
    // position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
.pad10
{
  padding:0px 10px !important;
}
.side-bar {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  // padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;
  background-color: $sidebar-color;

  @media (max-width: 768px) and (min-width: 430px) {
    max-width: 250px;
    width:100%;
  }
  @media (max-width: 450px) {
  padding-top:5px;
  position: fixed;
    width: 100%;
    padding-bottom:5px;
  }

  @include mq(md) {
    flex-wrap: nowrap;
    position: relative;
    max-width: 300px;
    width:100%;
    height: 100%;
    margin-top:60px;
    // padding-top: $gutter-spacing * 2;
    // padding-bottom: 0;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;

  }
  

  @include mq(lg) {
    // width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    // min-width: $nav-width;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
    max-width: 30%;
    box-shadow: none;

    @media (min-width: 46.25rem) and (max-width: 70rem) {
      display: none;
    }
    @media (max-width:450px)
    {
      height: auto;
      max-width:65px;
      width:100%;
    }
  }
}

.main-content-wrap {
  @include mq(md) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
     height:100vh;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
}

.main-content {
  padding-top: 25px;
  // padding-top: $gutter-spacing-sm;
  @include container;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left:80px;
    padding-top: 7rem;
    padding-bottom: $gutter-spacing;
    padding-left: $gutter-spacing * 1.5;
    // margin-left: $nav-width;
  }

  @include mq(lg) {
    padding-left: $gutter-spacing;
    // margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
  @media (max-width:768px) and (min-width:450px)
  {
    margin-left:0px;
  }
  @media (max-width:425px)
  {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
}

.js-main-content:focus {
  outline: none;
}

.page-header {
  background-color: $sidebar-color;
  border-bottom: $border $border-color;
  position: fixed;
  display:flex;
  left:0;
  top:0;
  width: 100%;
  z-index: 10;
  @include mq(md) {
    background-color: $body-background-color;
  }
img {
  box-shadow: none;
  max-width:80px;
  width:100%;
}
  .main-content {
    padding-top: 0;

    @include mq(md) {
      display: flex;
      justify-content: flex-end;
      height: 60px;
      padding-top: $sp-4;
      padding-bottom: $sp-4;
    }
  }
}
.zp-right-float
{
  float:right;
  display: flex;
    justify-content: flex-end;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 950px;
    width: 100%;
}
.zp-wrapper
{display: flex;
  width:100%;
  padding-left:40px;
  padding-right:40px;
}
.navigation,
.site-title,
.site-footer {

  @include container;

  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}
.zp-flex
{
  display:flex;
}
.zp-float-middle
{
  @media (max-width:768px){
    display:none;
  }
}
.zp-float-middle ul
{
  display:flex;
  list-style-type: none;
  margin:0;
  padding:0;
  li
  {
    display: inline-block;
    padding:15px 18px;
  }
  a
  {
    color: #40454D !important;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 500;
    &:hover
    {
      color:#000000;
    }
  }
}

.navigation {
  @include mq(md) {
    height:90vh;
    padding-top: 1rem;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: relative;
  top: 750px;
  bottom: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;

  @include mq(md) {
    position: static;
    align-self: flex-end;
    justify-self: end;
    background-color: $sidebar-color;
  }
}
.nav-signup-btn
{
  height: 42px;
  line-height: 40px;
  width: 160px;
  padding:10px 20px;
  border: 1px solid #EBEBF9;
  border-radius: 4px;
  background-color: #F8F8FF;
  color: #7171EA;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.47px;
  font-weight: 500;
  outline: none;
}
.nav-signup-btn:hover
{
  color:#ffffff;
  background-color:#7171EA;
  text-decoration: none !important;
}
.mtop-m
{
  margin-top:-10px;
}
.nav-login
{
  font-size:15px;
  font-weight:500;
  color:#40454D !important;
  text-decoration: none !important;
  &:hover
  {
  color:#000000 !important;
}
}

footer {
  z-index:100;
  background: linear-gradient(180deg, #fafbfc 0%, #fff 100%);
  .footer-navs .list-heading {
    color: #2C2E32;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.31px;
    line-height: 19px;
}
.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-navs ul.footer-nav li a {
  color: #40454d;
  font-size: 13px;
  letter-spacing: 0.27px;
  line-height: 18px;
  font-weight: 400;
  transition: .2s ease-out;
}
.footer-navs ul.footer-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact {
  color: #6B6F76;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-size: 10px;
  letter-spacing: 0.27px;
  line-height: 18px;
  font-weight: 400;
}
.footer-navs ul.footer-nav li a:hover {
  color: #DB6893;
  padding-left: 2px;
  font-weight: 500;
}
img {
  max-width: 100%;
  height: auto;
box-shadow: none;
}
}